
<main class="contenedor contenedor-formulario">
    <h1> <%-nombrePagina %></h1>

    <form action="/iniciar-sesion" method="POST" class="default-form">
    <div class="campo">
        <label >E-mail </label>
        <input type="email" name="email" placeholder="Escribe tu email">
    </div>
    <div class="campo">
        <label >password</label>
        <input type="password" name="password" placeholder="Tu password">
    </div>
   

    <div class="campo enviar">
        <input type="submit" class="btn btn-rosa" value="iniciar-sesion">
    </div>
    </form>
</main>